.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.name_container{
    display: flex;
    flex-direction: column;

}

input{
border-radius: 5px;
width: 300px;
}


button{
    border-radius: 5px;
    font-size: 20px;
}

.button_area{    
    display: flex;
    padding: 10px;
    gap: 10px;
}

.add{
    background-color: rgba(228, 225, 15, 0.756);
}
.draw{
    background-color: orange;
}
.restart{
    background-color: red;
}

.inclusao_area{
    display: flex;
    flex-direction: column;
}

.sorteio-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sorteio{
    border: 1px solid;
    border-radius: 5px;
    font-size: 2rem;
    
}

.btn-adicionar{
    background-color: burlywood;
}

.btn-sortear{
    background-color: chocolate;
}

.btn-reiniciar{
    background-color: crimson;
}

:root {
    font-size: 62.5%;
}

.erro_area{
    display: block;
    color: red;
    font-style: italic;
    font-size: 1.4rem;
}